@page "/"
@inject NavigationManager NavMgr

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="content">
            <div class="card">
                <p class="welcomeText">Hey there, <span class="userWelcome">@context.User.Identity.Name.ToUpper()</span></p>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="content">
            <div class="card">
                <div class="partOne">
                    <p>Hey, what are you waiting for?</p>
                </div>
                <div class="partTwo">
                    <p>Come and join the community</p>
                </div>
                <button class="toLogIn" @onclick="GoToLogIn">Go and log in</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void GoToLogIn()
    {
        NavMgr.NavigateTo("/Login");
    }
}
